ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root # ya project ka root tk phoch ky koe file or folder bnanay ka ka mko mange krta ha 
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .  # local package install hojay hmary virtual enviorment ma 


#project structure ready venv set